<!-- modify this form HTML and place wherever you want your form -->
<section id="contact">
    <form action="https://formspree.io/f/xkgwaekp" method="POST">
      <p>
        <label for="name">Your Name:</label><br>
        <input type="text" name="name" id="name" required>
      </p>
      <p>
        <label for="email">Your email:</label><br>
        <input type="email" name="email" id="email" required>
      </p>
      <p>
        <label for="message">Your message:</label><br>
        <textarea name="message" id="message" rows="5" required></textarea>
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form>
  </section>
  